@model EventBookingSystem.Models.Venue

@{
    ViewData["Title"] = "Delete Venue";
}

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">
        @TempData["ErrorMessage"]
    </div>
}

<h2>Delete Venue</h2>

<div>
    <h4>Are you sure you want to delete this Venue?</h4>
    <dl class="dl-horizontal">
        <dt>Venue</dt>
        <dd>@Model.VenueName</dd>
        <dt>Location</dt>
        <dd>@Model.Location</dd>
        <dt>Capacity</dt>
        <dd>@Model.Capacity</dd>
        <dt>Image URL</dt>
        <dd>@Model.ImageUrl</dd>
    </dl>
    <form asp-action="Delete" method="post">
        <input type="hidden" asp-for="VenueId" />
        <button type="submit" class="btn btn-danger mt-2">Delete</button>
        <a asp-action="Index" class="btn btn-secondary mt-2">Cancel</a>
    </form>
</div>